@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.app-heading {
  font-weight: bold;
  font-size: 30px;
  margin: 30px 0px;
  font-family: "Roboto";
}

.app-sub-heading {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin: 30px 0px 0px 15px;
  font-family: "Roboto";
}

.copy-to-clipboard-container {
  align-self: flex-end;
  margin-bottom: 15px;
  font-family: "Roboto";
}

.input-table {
  padding: 1rem;
}
.ace_gutter {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 0;
}
.m-10 {
  margin-bottom: 10px;
}

.ace_scroller {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ace_editor {
  margin-bottom: 20px;
}

.ace_content {
  height: 100% !important;
}

#react-select-3-live-region {
  height: 1.4375em;
}

table {
  border-spacing: 0;
  border: 1px solid black;
}

.responsive-container {
  max-width: 1200px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

th,
td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

/* .app-container {
  padding: 10px;
  display: flex;
  /* height: 60vh; */
/* } */

.MuiTextField-root {
  width: 100%;
  margin-bottom: 15px !important;
  font-family: "Roboto";
}

.form-containers {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 35px 0px;
}

.form-major-container {
  width: 60%;
}

.form-container {
  border: 1px solid;
  border-radius: 10px;
  margin: 0 10px;
  padding: 25px;
  width: 40%;
  /* flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 60%; */
  /* overflow-y: scroll; */
}

.form {
  border: 1px solid;
  border-radius: 10px;
  margin: 0;
  padding: 25px;
  width: 70%;
}

.m-auto {
  display: flex;
  margin: auto;
}

.icon-container {
  align-self: center;
  color: black;
  background-color: transparent;
  margin: 10px;
}

.tabs-container {
  padding-left: 15px;
  flex-grow: 0;
  flex-basis: 40%;
}
.tabs-list {
  margin-top: 0;
  display: flex;
  align-items: flex-end;
}
button:disabled,
button[disabled] {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
.text-area {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  height: 70px;
  border-radius: 4px;
  margin-top: 0;
  font-family: "Roboto";
  /* margin-bottom: 8px !important; */
  border-color: rgb(0 0 0 / 31%);
}

.question-form-input-field {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-family: "Roboto";
  /* margin-bottom: 8px; */
  border: 1px solid rgb(0 0 0 / 31%);
}

.configuration-heading {
  margin-left: 0;
}

.horizontal-line {
  color: black;
  height: 100vh;
}

.generate-count-field {
  margin-top: 10px;
}
.react-select-container {
  margin-right: 7px;
  font-family: "Roboto";
}

.react-select {
  font-family: "Roboto";
}

button {
  background-color: dodgerblue;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin: 10px;
  font-family: "Roboto";
}

.copied-container {
  display: flex;
  align-items: center;
  color: green;
  font-family: "Roboto";
}
.text-right {
  text-align: right;
}
.copy-btn {
  background-color: transparent;
  border: 1px solid grey;
  color: black;
}

.expand {
  flex-grow: 0.2;
}

.input-field {
  width: 22%;
  min-width: 76px;
  padding: 8px 5px;
  border: 1px solid grey;
  border-radius: 2px;
  margin-right: 5px;
  margin-bottom: 10px;
  font-family: "Roboto";
}

.select-field,
.input-name-field,
.length-input-field {
  width: 5%;
}

.input-row {
  display: flex;
  flex-wrap: wrap;
}

.question-data-row {
  display: flex;
  justify-content: space-between;
}

.question-data-key {
  max-width: 300px;
  flex-shrink: 0;
  flex-basis: 30%;
}

.question-data-row {
  flex-grow: 1;
  flex-basis: 70%;
}

ul {
  padding: 0;
}

.tab-item {
  list-style-type: none;
}

.tab-button {
  color: #7b8794;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-bottom: 2px solid #dfe2e5;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 4px;
  padding-top: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .tab-button {
    font-size: 16px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 8px;
  }
}
.react-json-view {
  width: 100%;
  padding: 25px;
}

.active {
  color: #2563eb;
  border-bottom: 2px solid #2563eb;
  padding-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .active {
    padding-bottom: 12px;
  }
}

.flex-container {
  display: flex;
}

.flex-grow {
}
